

.header {
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.header .header-container .brand .title {
    color: var(--color-primary);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: var(--main-transition);
}

.header .header-container .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.header .header-container .nav .list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 100px;
}

.header .header-container .nav .list .list-item {
    display: block;
    margin: 0 10px;
    color: var(--nav-color);
    transition: var(--main-transition);
}

.header .header-container .nav .list .list-item:hover {
    display: block;
    color: var(--nav-hover-color);
    transform: scale(1.1);
}

.header .header-container .nav .list .list-item .title {
    display: block;
    padding: 10px;
    text-transform: capitalize;
}


.header .header-container .nav .media {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header .header-container .nav .media .icon {
    font-size: 25px;
    margin: 0 15px;
    color: var(--color-primary);
}

.header .header-container #burger {
    display: none;
    position: relative;
    margin: 10px 10px 10px 40px;
    cursor: pointer;
}

.header .header-container #burger .line {
    width: 30px;
    height: 4px;
    background-color: var(--color-primary);
    transition: var(--main-transition);
}

.header .header-container #burger #line1 {
    transform: translateY(-4px);
}

.header .header-container #burger #line3 {
    transform: translateY(4px);
}



.header .header-container #burger.active #line2 {
    opacity: 0;
}

.header .header-container #burger.active #line1 {
    transform: translateY(4px) rotateZ(45deg);
}

.header .header-container #burger.active #line3 {
    transform: translateY(-4px) rotate(-45deg);
}


@media (max-width:910px) {

    .header .header-container {
        position: relative;
    }

    .header .header-container .nav {
        position: absolute;
        flex-direction: column;
        justify-content: space-evenly;
        top: 58px;
        left: 0;
        right: 0;
        height: 0.001px;
        opacity: 0.001;
        margin: 0;
        padding: 0 !important;
        overflow: hidden;
        transition: var(--main-transition);
    }

    .header .header-container .nav.active {
        min-height: 100px;
        opacity: 1;
    }

    .header .header-container .nav .list {
        margin: 0;
    }

    .header .header-container #burger {
        display: block;
    }

}


@media (min-width:300px) and (max-width:500px) {

    .header .header-container .nav {
        height: 0.001px;
        opacity: 0.001;
        transition: var(--main-transition);
    }

    .header .header-container .nav.active {
        min-height: 500px;
    }


    .header .header-container .nav .list {
        flex-direction: column;
        justify-content: space-evenly;
        height: 0.001px;
        opacity: 0.001;
        transition: var(--main-transition);
    }

    .header .header-container .nav.active .list {
        min-height: 400px;
        opacity: 1;
    }
}