.main-container .landing-page {
    padding: 70px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.main-container .landing-page .landing-page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
}

.main-container .landing-page .left {
    padding: 20px;
}

.main-container .landing-page .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main-container .landing-page .left .container{
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.main-container .landing-page .left .container .title {
    color: var(--color-1);
    text-transform: uppercase;
    padding: 50px 0;
}

.main-container .landing-page .left .container .services-txt-anime {
    font-weight: 300;
    text-transform: capitalize;
}

.main-container .landing-page .left .container .pg {
    color: var(--color-4);
}

.main-container .landing-page .left .more {
    font-weight: bold;
    padding: 10px;
    margin: 50px 0;
    text-transform: uppercase;
    color: var(--color-white);
    background-image: var(--gradient-1);
    border: solid 1px rgb(169, 173, 177);
    border-radius: 10px;
    transition: var(--main-transition);
}

.main-container .landing-page .left .more:hover {
    color: var(--color-white);
    background-image: var(--gradient-2);
    border: 1px solid var(--color-primary);
}



.main-container .landing-page .right img{
    max-width: 500px;
}

.main-container .ya-intro {
    position: relative;
    width: 100%;
    background-color: var(--color-white-1);
}

.main-container .ya-intro .container {
    position: relative;
    top: -50px;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 50px;
    background-color: var(--color-white-1);
    box-shadow: 0 0 3px rgba(0 , 0, 0, 0.01);

}

.main-container .ya-intro .container .title {
    color: rgb(53, 53, 53);
    text-align: center;
    padding:100px 20px 20px 20px;
    margin: 0 auto;
    max-width: 600px;
    text-transform: uppercase;
}

.main-container .ya-intro .container .block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.main-container .ya-intro .container .block img {
    width: 400px;
    padding: 20px;
}

.main-container .ya-intro .container .block .pg {
    padding: 20px;
    max-width: 600px;
    color: var(--text-on-white);
    line-height: 20px;
}

.main-container .services-section  {
    width: 100%;
    height: 1000px;
    background-color: var(--color-white-1);
}

.main-container .services-section .services-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;    
}

.main-container .services-section .services-section-container .title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    padding:50px 20px;
    color: var(--color-primary);
}

.main-container .services-section .services-section-container .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
} 

.main-container .services-section .services-section-container .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 300px;
    min-height: 500px;
    margin: 20px;
    border-radius: 30px;
    transition: .3s;
}

.main-container .services-section .services-section-container .cards .card:hover > img {
    transform: scale(1.1);
}

.main-container .services-section .services-section-container .cards .card.c1 {
    background-image: var(--gradient-6);
}

.main-container .services-section .services-section-container .cards .card.c2 {
    background-image: var(--gradient-5);
}

.main-container .services-section .services-section-container .cards .card.c3 {
    background-image: var(--gradient-6);
}

.main-container .services-section .services-section-container .cards .card .block {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
}

.main-container .services-section .services-section-container .cards .card img {
    transition: .3s;
    width: 200px;
}

.main-container .services-section .services-section-container .cards .card h3 {
    width: 200px;
    color: var(--color-white-1);
}

.main-container .services-section .services-section-container .cards .card p {
    width: 250px;
    color: var(--color-4);
}