.main-container .landing-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    backdrop-filter: blur(10px);
}

.main-container .landing-page .left {
    padding:100px 20px;
}

.main-container .landing-page .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main-container .landing-page .left .container{
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.main-container .landing-page .left .container .title {
    color: var(--color-2);
    text-transform: uppercase;
    padding: 50px 0;
}

.main-container .landing-page .left .container .services-txt-anime {
    font-weight: 300;
    text-transform: capitalize;
}

.main-container .landing-page .left .container .pg {
    color: var(--color-2);
}

.main-container .landing-page .left .more {
    font-weight: bold;
    padding: 10px;
    margin: 50px 0;
    text-transform: uppercase;
    color: var(--color-white);
    background-image: var(--gradient-1);
    border: solid 1px rgb(169, 173, 177);
    border-radius: 10px;
    transition: var(--main-transition);
}

.main-container .landing-page .left .more:hover {
    color: var(--color-white);
    background-image: var(--gradient-2);
    border: 1px solid var(--color-primary);
}



.main-container .landing-page .right img{
    width: 500px;
}

.main-container .services-diapo {
    position: relative;
    top: -50px;
    min-height: 400px;
    width: 100%;
    margin: 0 auto;
    background-color: rgba(33, 79, 119, 0.322);
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}